@keyframes marquee {
  from {
    translate: 0 0;
  }
  to {
    translate: -100% 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}
