* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: $font-family-body; // Issues with this overridding mixin? Specificy isn't higher...

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);

  & > * {
    max-width: $content-width;
    margin: auto;
  }
}

.site-header {
  $banner-height: 48px;
  $banner-height-xxl: 40px;

  & > * {
    z-index: 5;
    position: fixed;

    @include mq-motion-allow {
      // Having this on the site-header caused strange z-index issues?
      opacity: 0;
      animation: fade 0s linear $finish-time + $step-delay forwards;
    }
  }

  .header-banner {
    @include row-center;
    flex-wrap: nowrap;
    background: var(--primary-accent-color);
    left: 0;
    width: 100vw;
    height: $banner-height;
    cursor: pointer;
    translate: 0 -100%;
    transition: translate 0.3s ease, filter 0.3s ease;
    z-index: 6; // over nav links (becuase they move up and down on scroll)

    @media all {
      @include mq-max("xxl") {
        height: $banner-height-xxl;
      }
    }

    &:hover,
    &:focus-visible {
      filter: brightness(1.2);

      // .marquee-slider {
      //   animation-play-state: paused;
      // }
    }

    &__message {
      @include absolute-center;
      display: flex;
      width: 100%;
      color: var(--background-color);
      font-weight: 600;
      text-transform: uppercase;
      text-wrap: nowrap;
      font-size: 14px;
      overflow: hidden;

      @include mq-max("md") {
        font-size: 12px;
      }

      .marquee-slider {
        display: flex;
        animation: marquee 36s linear infinite;

        @include mq-motion-reduce {
          animation: marquee 60s linear infinite;
        }
      }

      .alchemy-symbol {
        padding: 0 12px;
      }
    }

    &__cta {
      color: var(--background-color);
      position: absolute;
      translate: 40px -4px;
      text-wrap: nowrap;
      font-size: 14px;
      font-weight: 600;

      @media all {
        @include mq-max("xxl") {
          font-size: 12px;
        }

        @include mq-max("xl") {
          translate: 24px -4px;
        }

        @include mq-max("lg") {
          display: none;
        }
      }

      &:hover,
      &:focus-visible {
        color: var(--primary-font-color);
      }

      &::before {
        background: var(--background-color);
      }
    }

    &__btn-close {
      display: none;
      padding: 16px;
      position: absolute;
      top: 50%;
      translate: 224px -50%;

      @media all {
        @include mq-max("xxl") {
          translate: 200px -50%;
          padding: 12px;
        }

        @include mq-max("xl") {
          translate: 156px -50%;
        }

        @include mq-max("lg") {
          translate: 24px -50%;
        }
      }

      &:hover,
      &:focus-visible {
        .close-line {
          background-color: var(--primary-font-color);
        }
      }

      .close-line {
        @include absolute-center;
        padding: 2px 12px;
        background-color: var(--background-color);

        @include mq-motion-allow {
          transition: 0.3s ease;
        }

        @include mq-max("xxl") {
          padding: 1px 10px;
        }

        &:first-of-type {
          rotate: 45deg;
        }
        &:last-of-type {
          rotate: -45deg;
        }
      }
    }
  }

  .header-logo {
    @include left-spacing;
    top: 64px;
    display: flex;
    align-items: center;
    gap: 12px;
    // mix-blend-mode: difference;
    transition: translate 0.3s ease; // for .show-banner class

    @include mq-max("xxl") {
      top: 40px;
    }

    &__icon {
      width: 196px;
      transition: 0.2s ease;

      @include mq-max("xxl") {
        width: 148px;
      }

      @include mq-max("sm") {
        width: 128px;
      }
    }
  }

  .header-links {
    @include row-center;
    @include right-spacing;
    top: 60px;
    gap: 48px;
    transition: 0.4s ease;
    // mix-blend-mode: difference;

    @media all {
      @include mq-max("xxl") {
        top: 34px;
        gap: 32px;
      }

      @include mq-max("xl") {
        gap: 16px;
      }

      @include mq-max("lg") {
        display: none;
      }
    }

    &__link {
      &:hover,
      &:focus-visible {
        &::after {
          background: var(--primary-font-color);
        }
      }
    }
  }

  .menu-btn-wrapper {
    display: none;

    @media all {
      @include mq-max("lg") {
        @include right-spacing;
        top: 28px;
        // translate: 0 -50%;
        transition: opacity 0.3s ease, translate 0.3s ease;
        mix-blend-mode: difference;
        display: block;
      }

      @include mq-max("md") {
        top: 28px;
      }
    }

    .menu-btn {
      width: 28px;
      height: 28px;
      transition: 0.2s ease 0s;

      &:hover,
      &:focus-visible {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .menu-btn-line-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        transition: 0.2s ease;
      }

      &-line {
        width: 32px;
        height: 3px;
        background: $white;
        transition: 0.3s ease;
      }

      &.menu-active {
        opacity: 1;
        pointer-events: all;

        .menu-btn-line-wrapper {
          gap: 0;

          .menu-btn-line:first-of-type {
            translate: 0 1.5px;
            rotate: 45deg;
          }
          .menu-btn-line:last-of-type {
            translate: 0 -1.5px;
            rotate: -45deg;
          }
        }
      }
    }

    &.menu-wrapper-page-top {
      transition: opacity 0.3s ease 0.3s;
    }
  }

  &.show-banner {
    .header-banner {
      translate: 0 0;
    }

    .header-logo,
    .header-links,
    .menu-btn-wrapper {
      translate: 0 $banner-height;

      @include mq-max("xxl") {
        translate: 0 $banner-height-xxl;
      }
    }
  }

  &.away-from-top {
    // .header-logo {
    //   .logo-text {
    //     width: 0px;
    //   }
    // }

    .header-links {
      translate: 0 -480%;
      opacity: 1;
      pointer-events: all;
      animation: fade 0.6s linear 0s reverse;

      &:focus-within {
        translate: 0 0;
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.nav-menu {
  display: none;

  @include mq-max("lg") {
    display: block;
    position: fixed;
    top: 0;
    background: transparent;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    z-index: 4;
    transition: background 0.3s ease 0.3s, opacity 0.3s ease 0.75s;
  }

  .width-constraint {
    position: relative;
    max-width: $content-width;
    height: 100vh;
    height: 100dvh;
    min-height: 768px;
    margin: auto;

    @include mq-max("xxl") {
      min-height: 640px;
    }

    @include mq-max("sm") {
      min-height: 520px;
    }
  }

  .nav-links,
  .nav-footer-links,
  .nav-social-media {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s ease 0.3s;

    li {
      a {
        font-family: $font-family-body;
      }
    }
  }

  .nav-footer-links,
  .nav-social-media {
    transition: 0.3s ease;
  }

  .nav-links {
    @include left-spacing;
    @include column-start;
    gap: 12px;
    top: 50%;
    translate: 0 -50%;
    transition: 0.3s ease;

    li {
      display: flex;
      overflow: hidden;

      &:focus-within {
        border-radius: 4px;
        box-shadow: 0 0 0 3px rgba(#2353c1, 0.75), 0 0 0 5px rgba(#fff, 0.75);
      }

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          $transition: 0.25s + ($i - 2) * 0.05s;
          $delay: 0.1s + ($i - 2) * 0.02s;

          .nav-link {
            transition: 0.3s ease, padding 0.2s ease,
              translate $transition ease $delay;
          }
        }
      }
    }

    .nav-link {
      @extend .h2;
      font-family: $font-family-heading;
      text-transform: uppercase;
      line-height: 100%;
      height: 100%;
      translate: 0 100%;

      background-clip: text;
      -webkit-background-clip: text;
      background-repeat: no-repeat;
      -webkit-text-stroke: 1px $white;
      -webkit-text-fill-color: transparent;

      background-size: 220% 100%;
      -webkit-background-size: 220% 100%;
      background-position: right;
      // transition set above in li loop

      background-image: linear-gradient(
        300deg,
        $white 0%,
        $white 50%,
        transparent 50.1%
      );

      &:hover,
      &:focus-visible {
        padding-inline-start: 12px;
        background-size: 0 100%;
        -webkit-background-size: 0 100%;
      }
    }
  }

  .nav-footer-links {
    @include left-spacing;
    @include row-center;
    bottom: $body-padding;
    gap: 48px;
    translate: -8px 0; // offset link padding

    @media all {
      @include mq-max("lg") {
        gap: 24px;
      }

      @include mq-max("md") {
        @include column-start;
        gap: 12px;
        bottom: $body-padding-xxl;
      }

      @include mq-max("sm") {
        gap: 8px;
        bottom: $body-padding-xxl;
      }
    }

    .nav-footer-link {
      font-size: 12px;
    }
  }

  .nav-social-media {
    @include right-spacing;
    bottom: $body-padding;
    left: unset;

    @include mq-max("lg") {
      translate: 0 4px;
    }

    @include mq-max("md") {
      bottom: $body-padding-md;
      translate: 0 -12px;
    }

    @include mq-max("sm") {
      bottom: $body-padding-xxl;
      translate: 0 0;
    }
  }

  .nav-abstract {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 0px;
    background: $black;
    // animation: nav-abstract-default 0.75s ease 0s forwards;
  }

  &.menu-active {
    opacity: 1;
    pointer-events: all;
    background: var(--background-color);
    // transition: background 0s ease;
    transition: 0.1s ease 0s, background 0.1s ease;

    // .nav-abstract {
    //   animation: nav-abstract-open 0.75s ease 0s forwards;
    // }

    .nav-links,
    .nav-footer-links,
    .nav-social-media {
      opacity: 1;
      pointer-events: all;

      .nav-link {
        translate: 0 0;
      }
    }
  }
}

section {
  @include section-padding;

  h2 {
    margin-block-end: $section-title-vertical-spacing;

    @include mq-max("xxl") {
      margin-block-end: $section-title-vertical-spacing-xxl;
    }
  }
}

footer {
  @include row-center(space-between);
  position: relative;
  padding: $body-padding;

  @media all {
    @include mq-max("lg") {
      justify-content: flex-start;
      padding: $body-padding-md;
    }

    @include mq-max("md") {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }

    @include mq-max("sm") {
      padding-block-end: 48px;
    }
  }

  .copyright {
    @include row-center;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: calc(-50% - 6px) 50%;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @include mq-max("lg") {
      left: auto;
      right: $body-padding-md;
      translate: 0 100%;
    }

    @include mq-max("sm") {
      position: static;
      order: 1;
      translate: 0 0;
    }
  }

  .return-to-top,
  .axys-link {
    translate: -8px;

    @include mq-max("md") {
      font-size: 12px;
    }
  }

  .axys-link {
    @include mq-max("md") {
      margin-block-end: 24px;
    }
  }
}

h1 {
  @extend .h1;
}
h2 {
  @extend .h2;
}
h3 {
  @extend .h3;
}
h4 {
  @extend .h4;
}
h5 {
  @extend .h5;
}
h6 {
  @extend .h6;
}

p,
a,
ul,
small,
div {
  @include body-font-styles;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;

  @include mq-max("xxl") {
    font-size: 14px;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;

  &.classic-list {
    list-style-type: disc;
  }
}

// Components

.cta-wrapper {
  @include row-center;
  gap: 24px;
  flex-shrink: 0;

  .cta-1 {
    position: relative;
    border: 2px solid var(--primary-font-color);
    padding: 12px 24px;
    transition: 0.5s $cubic-ease-sudden;

    @include mq-max("md") {
      padding: 10px 20px;
    }

    &:hover,
    &:focus-visible {
      border-color: var(--secondary-accent-color);
      color: var(--background-color);

      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      width: 0;
      height: 100%;
      background: var(--secondary-accent-color);
      transition: 0.5s $cubic-ease-sudden;
      z-index: -1;
    }
  }
}

.social-media-links {
  display: flex;
  gap: 24px;

  @include mq-max("md") {
    gap: 12px;
  }

  @include mq-max("sm") {
    gap: 24px;
  }

  li.magnet {
    transition: 0.4s ease;
  }

  .social-media-link {
    @include row-center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.25s ease;

    @include mq-max("sm") {
      width: 24px;
      height: 24px;
    }

    &:hover,
    &:focus-visible {
      .social-media-icon-wrapper {
        translate: 0 -40%;
      }
    }

    .social-media-icon-wrapper {
      @include column-center;
      gap: 24px;
      translate: 0 36%;
      transition: 0.25s ease;

      .social-media-icon {
        path {
          fill: var(--primary-font-color);
        }
      }
    }
  }
}

.mouse-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: min(20vw, 420px);
  aspect-ratio: 1.5 / 1;
  pointer-events: none;
  transition: 0.6s $cubic-ease, opacity 0.3s ease;
  opacity: 0;
  z-index: -1;

  @media all {
    @include mq-touch {
      display: none;
    }

    @include mq-motion-reduce {
      display: none;
    }

    @include mq-max("lg") {
      display: none;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transform-origin: center;

    @include mq-motion-allow {
      transition: opacity 0.3s ease, 0.8s $cubic-ease;
    }
  }

  &.service-active {
    opacity: 0.75;
  }

  &.cursor-contrast {
    opacity: 0.25;
    width: min(18vw, 380px);
  }
}
