.classic-link {
  $link-horizontal-padding: 8px;

  position: relative;
  padding: 4px $link-horizontal-padding;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: $link-horizontal-padding;
    width: calc(100% - $link-horizontal-padding * 2);
    height: 2px;
    background-color: var(--primary-font-color);

    @include mq-motion-allow {
      // transition: 0.3s ease;
      transition: 0.4s $cubic-ease-sudden;
    }
  }

  &:hover,
  &:focus-visible {
    color: var(--primary-accent-color);
    transition: color 0.3s ease 0.3s;

    &::before {
      background: var(--primary-accent-color);
      left: auto;
      right: $link-horizontal-padding;
      width: 0%;
    }
  }
}

.alchemy-symbol {
  display: inline-flex;
  translate: 0 -0.2em;
  font-weight: 100;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 2px var(--primary-font-color);

  @include mq-max("md") {
    -webkit-text-stroke-width: 1px;
  }
}

.gold {
  color: $gold;
  -webkit-text-stroke-color: $gold;
}

.pink {
  color: $pink;
  -webkit-text-stroke-color: $pink;
}

//
// Media Query Utility // Be mindful these may not work well with screen readers
//

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}
