.classic-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-font-color);
    animation: classic-link-default $cubic-ease-sudden forwards;

    @include mq-motion-allow {
      transition: 0.3s ease;
      animation-duration: 0.64s;
    }
  }

  &:hover,
  &:focus-visible {
    color: var(--primary-accent-color);
    transition: 0.3s ease 0.3s;

    &::before {
      background: var(--primary-accent-color);
      animation: classic-link-hover $cubic-ease-sudden forwards;
      @include mq-motion-allow {
        animation-duration: 0.64s;
      }
    }
  }
}

.alchemy-symbol {
  display: inline-flex;
  margin-inline: 4px;
  translate: 0 -0.2em;
}

// .text-stroke {
//   color: transparent;
//   -webkit-text-stroke: 2px var(--primary-font-color);
// }

.gold {
  color: $gold;
  -webkit-text-stroke-color: $gold;
}

.pink {
  color: $pink;
  -webkit-text-stroke-color: $pink;
}

//
// Media Query Utility // Be mindful these may not work well with screen readers
//

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}
