// $font-family-heading: "Plus Jakarta Sans", sans-serif;
$font-family-body: "Plus Jakarta Sans", sans-serif;

$font-family-heading: "Proxima Nova", sans-serif;
// $font-family-body: "Proxima Nova", sans-serif;

$black: #313131;
$grey-dark: #313131;
$grey-light: #31313180;
$white: #fafafa;
$gold: #d1b768;
$pink: #d982e0;

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-sudden: cubic-bezier(1, 0.07, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

:root {
  --background-color: #{$black};
  --primary-font-color: #{$white};
  --secondary-font-color: #{$grey-light};
  --primary-accent-color: #{$gold};
  --secondary-accent-color: #{$pink};

  // --link-color: #{$grey-light};
  // --link-color-hover: #{$white};
}

// If you add a dark/light theme
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #{$black};
//     --primary-font-color: #{$white};
//   }
// }

// Site Scaffolding

$content-width: 1920px;
$body-padding: 64px;
$body-padding-xxl: 40px;
$body-padding-md: 24px;

$section-title-vertical-spacing: 96px;
$section-title-vertical-spacing-xxl: 64px;

// Hero & Header

$step-delay: 0.2s; // Change this to control the whole animation speed
$line-2: $step-delay * 4;
$line-3: $step-delay * 7;
$finish-time: $step-delay * 10;

// Debugging

$test: 2px dashed rgba(navy, 0.75);
$test-bg: rgba(navy, 0.75);
