@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-blackit.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-boldit.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-extraboldit.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-lightit.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-mediumit.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-regularit.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-semiboldit.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-thinit.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
:root {
  --background-color: #313131;
  --primary-font-color: #fafafa;
  --secondary-font-color: rgba(49, 49, 49, 0.5019607843);
  --primary-accent-color: #d1b768;
  --secondary-accent-color: #d982e0;
  --link-weight: 600;
}

.h1, h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 96px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Proxima Nova", sans-serif;
}
@media screen and (max-width: 1512px) {
  .h1, h1 {
    font-size: 6vw;
  }
}
@media screen and (max-width: 1024px) {
  .h1, h1 {
    font-size: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .h1, h1 {
    font-size: 8vw;
  }
}
@media screen and (max-width: 480px) {
  .h1, h1 {
    font-size: 9vw;
  }
}

.h2, h2, .nav-menu .nav-links .nav-link {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h2, h2, .nav-menu .nav-links .nav-link {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .h2, h2, .nav-menu .nav-links .nav-link {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 768px) {
  .h2, h2, .nav-menu .nav-links .nav-link {
    font-size: 6.4vw;
  }
}
@media screen and (max-width: 480px) {
  .h2, h2, .nav-menu .nav-links .nav-link {
    font-size: 32px;
  }
}

.h3, h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
@media screen and (max-width: 1512px) {
  .h3, h3 {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 1024px) {
  .h3, h3 {
    font-size: 2.6vw;
  }
}
@media screen and (max-width: 768px) {
  .h3, h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .h3, h3 {
    font-size: 20px;
  }
}

.h4, h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
}
@media screen and (max-width: 1512px) {
  .h4, h4 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1024px) {
  .h4, h4 {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  .h4, h4 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 480px) {
  .h4, h4 {
    font-size: 24px;
  }
}

.h5, h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h5, h5 {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .h5, h5 {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 768px) {
  .h5, h5 {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 480px) {
  .h5, h5 {
    font-size: 28px;
  }
}

.h6, h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;
  text-transform: initial;
}
@media screen and (max-width: 1512px) {
  .h6, h6 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .h6, h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .h6, h6 {
    font-size: 16;
  }
}
@media screen and (max-width: 480px) {
  .h6, h6 {
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--primary-font-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);
}
body > * {
  max-width: 1920px;
  margin: auto;
}

.site-header > * {
  z-index: 5;
  position: fixed;
}
@media (prefers-reduced-motion: no-preference) {
  .site-header > * {
    opacity: 0;
    animation: fade 0s linear 2.2s forwards;
  }
}
.site-header .header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: var(--primary-accent-color);
  left: 0;
  width: 100vw;
  height: 48px;
  cursor: pointer;
  translate: 0 -100%;
  transition: translate 0.3s ease, filter 0.3s ease;
  z-index: 6;
}
@media screen and (max-width: 1512px) {
  .site-header .header-banner {
    height: 40px;
  }
}
.site-header .header-banner:hover, .site-header .header-banner:focus-visible {
  filter: brightness(1.2);
}
.site-header .header-banner__message {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  width: 100%;
  color: var(--background-color);
  font-weight: 600;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-size: 14px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .site-header .header-banner__message {
    font-size: 12px;
  }
}
.site-header .header-banner__message .marquee-slider {
  display: flex;
  animation: marquee 40s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .site-header .header-banner__message .marquee-slider {
    animation-duration: 48s;
  }
}
@media screen and (max-width: 1512px) {
  .site-header .header-banner__message .marquee-slider {
    animation-duration: 32s;
  }
}
@media screen and (max-width: 480px) {
  .site-header .header-banner__message .marquee-slider {
    animation-duration: 12s;
  }
}
.site-header .header-banner__message .alchemy-symbol {
  padding: 0 12px;
}
.site-header .header-banner__cta {
  color: var(--background-color);
  position: absolute;
  translate: 40px -4px;
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (max-width: 1512px) {
  .site-header .header-banner__cta {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .site-header .header-banner__cta {
    translate: 24px -4px;
  }
}
@media screen and (max-width: 1024px) {
  .site-header .header-banner__cta {
    display: none;
  }
}
.site-header .header-banner__cta:hover, .site-header .header-banner__cta:focus-visible {
  color: var(--primary-font-color);
}
.site-header .header-banner__cta::before {
  background: var(--background-color);
}
.site-header .header-banner__btn-close {
  display: none;
  padding: 16px;
  position: absolute;
  top: 50%;
  translate: 224px -50%;
}
@media screen and (max-width: 1512px) {
  .site-header .header-banner__btn-close {
    translate: 200px -50%;
    padding: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .site-header .header-banner__btn-close {
    translate: 156px -50%;
  }
}
@media screen and (max-width: 1024px) {
  .site-header .header-banner__btn-close {
    translate: 24px -50%;
  }
}
.site-header .header-banner__btn-close:hover .close-line, .site-header .header-banner__btn-close:focus-visible .close-line {
  background-color: var(--primary-font-color);
}
.site-header .header-banner__btn-close .close-line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 2px 12px;
  background-color: var(--background-color);
}
@media (prefers-reduced-motion: no-preference) {
  .site-header .header-banner__btn-close .close-line {
    transition: 0.3s ease;
  }
}
@media screen and (max-width: 1512px) {
  .site-header .header-banner__btn-close .close-line {
    padding: 1px 10px;
  }
}
.site-header .header-banner__btn-close .close-line:first-of-type {
  rotate: 45deg;
}
.site-header .header-banner__btn-close .close-line:last-of-type {
  rotate: -45deg;
}
.site-header .header-logo {
  left: 64px;
  top: 64px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: translate 0.3s ease;
}
@media screen and (min-width: 1921px) {
  .site-header .header-logo {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1512px) {
  .site-header .header-logo {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-logo {
    left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-logo {
    left: 12px;
  }
}
@media screen and (max-width: 1512px) {
  .site-header .header-logo {
    top: 40px;
  }
}
.site-header .header-logo__icon {
  width: 196px;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  .site-header .header-logo__icon {
    width: 148px;
  }
}
@media screen and (max-width: 480px) {
  .site-header .header-logo__icon {
    width: 128px;
  }
}
.site-header .header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 64px;
  top: 60px;
  gap: 48px;
  transition: 0.4s ease;
}
@media screen and (min-width: 1921px) {
  .site-header .header-links {
    right: calc(50% - 896px);
  }
}
@media screen and (max-width: 1512px) {
  .site-header .header-links {
    right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-links {
    right: 24px;
  }
}
@media screen and (max-width: 480px) {
  .site-header .header-links {
    right: 12px;
  }
}
@media screen and (max-width: 1512px) {
  .site-header .header-links {
    top: 34px;
    gap: 32px;
  }
}
@media screen and (max-width: 1200px) {
  .site-header .header-links {
    gap: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .site-header .header-links {
    display: none;
  }
}
.site-header .header-links__link:hover::after, .site-header .header-links__link:focus-visible::after {
  background: var(--primary-font-color);
}
.site-header .menu-btn-wrapper {
  display: none;
}
@media screen and (max-width: 1024px) {
  .site-header .menu-btn-wrapper {
    right: 64px;
    top: 28px;
    transition: opacity 0.3s ease, translate 0.3s ease;
    mix-blend-mode: difference;
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1921px) {
  .site-header .menu-btn-wrapper {
    right: calc(50% - 896px);
  }
}
@media screen and (max-width: 1024px) and (max-width: 1512px) {
  .site-header .menu-btn-wrapper {
    right: 40px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .site-header .menu-btn-wrapper {
    right: 24px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 480px) {
  .site-header .menu-btn-wrapper {
    right: 12px;
  }
}
@media screen and (max-width: 768px) {
  .site-header .menu-btn-wrapper {
    top: 28px;
  }
}
.site-header .menu-btn-wrapper .menu-btn {
  width: 28px;
  height: 28px;
  transition: 0.2s ease 0s;
}
.site-header .menu-btn-wrapper .menu-btn:hover, .site-header .menu-btn-wrapper .menu-btn:focus-visible {
  scale: 1.1;
}
.site-header .menu-btn-wrapper .menu-btn:active {
  scale: 0.9;
}
.site-header .menu-btn-wrapper .menu-btn .menu-btn-line-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  transition: 0.2s ease;
}
.site-header .menu-btn-wrapper .menu-btn-line {
  width: 32px;
  height: 3px;
  background: #fafafa;
  transition: 0.3s ease;
}
.site-header .menu-btn-wrapper .menu-btn.menu-active {
  opacity: 1;
  pointer-events: all;
}
.site-header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-line-wrapper {
  gap: 0;
}
.site-header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-line-wrapper .menu-btn-line:first-of-type {
  translate: 0 1.5px;
  rotate: 45deg;
}
.site-header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-line-wrapper .menu-btn-line:last-of-type {
  translate: 0 -1.5px;
  rotate: -45deg;
}
.site-header .menu-btn-wrapper.menu-wrapper-page-top {
  transition: opacity 0.3s ease 0.3s;
}
.site-header.show-banner .header-banner {
  translate: 0 0;
}
.site-header.show-banner .header-logo,
.site-header.show-banner .header-links,
.site-header.show-banner .menu-btn-wrapper {
  translate: 0 48px;
}
@media screen and (max-width: 1512px) {
  .site-header.show-banner .header-logo,
  .site-header.show-banner .header-links,
  .site-header.show-banner .menu-btn-wrapper {
    translate: 0 40px;
  }
}
.site-header.away-from-top .header-links {
  translate: 0 -480%;
  opacity: 1;
  pointer-events: all;
  animation: fade 0.6s linear 0s reverse;
}
.site-header.away-from-top .header-links:focus-within {
  translate: 0 0;
  opacity: 1;
  pointer-events: all;
}

.nav-menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav-menu {
    display: block;
    position: fixed;
    top: 0;
    background: transparent;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    z-index: 4;
    transition: background 0.3s ease 0.3s, opacity 0.3s ease 0.75s;
  }
}
.nav-menu .width-constraint {
  position: relative;
  max-width: 1920px;
  height: 100vh;
  height: 100dvh;
  min-height: 768px;
  margin: auto;
}
@media screen and (max-width: 1512px) {
  .nav-menu .width-constraint {
    min-height: 640px;
  }
}
@media screen and (max-width: 480px) {
  .nav-menu .width-constraint {
    min-height: 520px;
  }
}
.nav-menu .nav-links,
.nav-menu .nav-footer-links,
.nav-menu .nav-social-media {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s ease 0.3s;
}
.nav-menu .nav-links li a,
.nav-menu .nav-footer-links li a,
.nav-menu .nav-social-media li a {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.nav-menu .nav-footer-links,
.nav-menu .nav-social-media {
  transition: 0.3s ease;
}
.nav-menu .nav-links {
  left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  top: 50%;
  translate: 0 -50%;
  transition: 0.3s ease;
}
@media screen and (min-width: 1921px) {
  .nav-menu .nav-links {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1512px) {
  .nav-menu .nav-links {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu .nav-links {
    left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu .nav-links {
    left: 12px;
  }
}
.nav-menu .nav-links li {
  display: flex;
  overflow: hidden;
}
.nav-menu .nav-links li:focus-within {
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(35, 83, 193, 0.75), 0 0 0 5px rgba(255, 255, 255, 0.75);
}
.nav-menu .nav-links li:nth-of-type(1) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.2s ease 0.08s;
}
.nav-menu .nav-links li:nth-of-type(2) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.25s ease 0.1s;
}
.nav-menu .nav-links li:nth-of-type(3) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.3s ease 0.12s;
}
.nav-menu .nav-links li:nth-of-type(4) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.35s ease 0.14s;
}
.nav-menu .nav-links li:nth-of-type(5) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.4s ease 0.16s;
}
.nav-menu .nav-links li:nth-of-type(6) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.45s ease 0.18s;
}
.nav-menu .nav-links li:nth-of-type(7) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.5s ease 0.2s;
}
.nav-menu .nav-links li:nth-of-type(8) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.55s ease 0.22s;
}
.nav-menu .nav-links li:nth-of-type(9) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.6s ease 0.24s;
}
.nav-menu .nav-links li:nth-of-type(10) .nav-link {
  transition: 0.3s ease, padding 0.2s ease, translate 0.65s ease 0.26s;
}
.nav-menu .nav-links .nav-link {
  font-family: "Proxima Nova", sans-serif;
  text-transform: uppercase;
  line-height: 100%;
  height: 100%;
  translate: 0 100%;
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  -webkit-text-stroke: 1px #fafafa;
  -webkit-text-fill-color: transparent;
  background-size: 220% 100%;
  -webkit-background-size: 220% 100%;
  background-position: right;
  background-image: linear-gradient(300deg, #fafafa 0%, #fafafa 50%, transparent 50.1%);
}
.nav-menu .nav-links .nav-link:hover, .nav-menu .nav-links .nav-link:focus-visible {
  padding-inline-start: 12px;
  background-size: 0 100%;
  -webkit-background-size: 0 100%;
}
.nav-menu .nav-footer-links {
  left: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 64px;
  gap: 48px;
  translate: -8px 0;
}
@media screen and (min-width: 1921px) {
  .nav-menu .nav-footer-links {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1512px) {
  .nav-menu .nav-footer-links {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu .nav-footer-links {
    left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu .nav-footer-links {
    left: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-menu .nav-footer-links {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu .nav-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .nav-menu .nav-footer-links {
    gap: 8px;
    bottom: 40px;
  }
}
.nav-menu .nav-footer-links .nav-footer-link {
  font-size: 12px;
}
.nav-menu .nav-social-media {
  right: 64px;
  bottom: 64px;
  left: unset;
}
@media screen and (min-width: 1921px) {
  .nav-menu .nav-social-media {
    right: calc(50% - 896px);
  }
}
@media screen and (max-width: 1512px) {
  .nav-menu .nav-social-media {
    right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu .nav-social-media {
    right: 24px;
  }
}
@media screen and (max-width: 480px) {
  .nav-menu .nav-social-media {
    right: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-menu .nav-social-media {
    translate: 0 4px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu .nav-social-media {
    bottom: 24px;
    translate: 0 -12px;
  }
}
@media screen and (max-width: 480px) {
  .nav-menu .nav-social-media {
    bottom: 40px;
    translate: 0 0;
  }
}
.nav-menu .nav-abstract {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 0px;
  background: #313131;
}
.nav-menu.menu-active {
  opacity: 1;
  pointer-events: all;
  background: var(--background-color);
  transition: 0.1s ease 0s, background 0.1s ease;
}
.nav-menu.menu-active .nav-links,
.nav-menu.menu-active .nav-footer-links,
.nav-menu.menu-active .nav-social-media {
  opacity: 1;
  pointer-events: all;
}
.nav-menu.menu-active .nav-links .nav-link,
.nav-menu.menu-active .nav-footer-links .nav-link,
.nav-menu.menu-active .nav-social-media .nav-link {
  translate: 0 0;
}

section {
  padding: 196px 128px;
}
@media screen and (max-width: 1512px) {
  section {
    padding: 148px 96px;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 96px 48px;
  }
}
@media screen and (max-width: 480px) {
  section {
    padding: 96px 12px;
  }
}
section h2 {
  margin-block-end: 96px;
}
@media screen and (max-width: 1512px) {
  section h2 {
    margin-block-end: 64px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 64px;
}
@media screen and (max-width: 1024px) {
  footer {
    justify-content: flex-start;
    padding: 24px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    padding-block-end: 48px;
  }
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  translate: calc(-50% - 6px) 50%;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  footer .copyright {
    left: auto;
    right: 24px;
    translate: 0 100%;
  }
}
@media screen and (max-width: 480px) {
  footer .copyright {
    position: static;
    order: 1;
    translate: 0 0;
  }
}
footer .return-to-top,
footer .axys-link {
  translate: -8px;
}
@media screen and (max-width: 768px) {
  footer .return-to-top,
  footer .axys-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  footer .axys-link {
    margin-block-end: 24px;
  }
}

p,
a,
ul,
small,
div {
  color: var(--primary-font-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  p,
  a,
  ul,
  small,
  div {
    font-size: 14px;
  }
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}
@media screen and (max-width: 1512px) {
  a {
    font-size: 14px;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
ul.classic-list {
  list-style-type: disc;
}

.cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}
.cta-wrapper .cta-1 {
  position: relative;
  border: 2px solid var(--primary-font-color);
  padding: 12px 24px;
  font-weight: var(--link-weight);
  transition: 0.5s cubic-bezier(1, 0.07, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .cta-wrapper .cta-1 {
    padding: 10px 20px;
  }
}
.cta-wrapper .cta-1:hover, .cta-wrapper .cta-1:focus-visible {
  border-color: var(--secondary-accent-color);
  color: var(--background-color);
}
.cta-wrapper .cta-1:hover::after, .cta-wrapper .cta-1:focus-visible::after {
  width: 100%;
  left: 0;
  right: auto;
}
.cta-wrapper .cta-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--secondary-accent-color);
  transition: 0.5s cubic-bezier(1, 0.07, 0.2, 1);
  z-index: -1;
}

.social-media-links {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .social-media-links {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .social-media-links {
    gap: 24px;
  }
}
.social-media-links li.magnet {
  transition: 0.4s ease;
}
.social-media-links .social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.25s ease;
}
@media screen and (max-width: 480px) {
  .social-media-links .social-media-link {
    width: 24px;
    height: 24px;
  }
}
.social-media-links .social-media-link:hover .social-media-icon-wrapper, .social-media-links .social-media-link:focus-visible .social-media-icon-wrapper {
  translate: 0 -40%;
}
.social-media-links .social-media-link .social-media-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  translate: 0 36%;
  transition: 0.25s ease;
}
.social-media-links .social-media-link .social-media-icon-wrapper .social-media-icon path {
  fill: var(--primary-font-color);
}

.mouse-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: min(20vw, 420px);
  aspect-ratio: 1.5/1;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
}
@media (hover: none) and (pointer: coarse) {
  .mouse-cursor {
    display: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .mouse-cursor {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .mouse-cursor {
    display: none;
  }
}
.mouse-cursor__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  transform-origin: center;
}
@media (prefers-reduced-motion: no-preference) {
  .mouse-cursor__image {
    transition: opacity 0.3s ease, 0.8s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}
.mouse-cursor.service-active {
  opacity: 0.75;
}
.mouse-cursor.cursor-contrast {
  opacity: 0.2;
  width: min(18vw, 380px);
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  animation: particle-fade 0.8s ease 2.4s forwards;
}
@media screen and (max-width: 480px) {
  .particles {
    animation: particle-fade-sm 0.8s ease 2.4s forwards;
  }
}
@keyframes particle-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes particle-fade-sm {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}

.classic-link {
  position: relative;
  padding: 4px 8px;
  font-weight: var(--link-weight);
}
.classic-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  width: calc(100% - 16px);
  height: 2px;
  background-color: var(--primary-font-color);
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link::before {
    transition: 0.4s cubic-bezier(1, 0.07, 0.2, 1);
  }
}
.classic-link:hover, .classic-link:focus-visible {
  color: var(--primary-accent-color);
  transition: color 0.3s ease 0.3s;
}
.classic-link:hover::before, .classic-link:focus-visible::before {
  background: var(--primary-accent-color);
  left: auto;
  right: 8px;
  width: 0%;
}

.alchemy-symbol {
  display: inline-flex;
  translate: 0 -0.14em;
  font-weight: 100;
}

.text-stroke {
  -webkit-text-stroke: 2px var(--primary-font-color);
  color: transparent;
}
@media screen and (max-width: 768px) {
  .text-stroke {
    -webkit-text-stroke-width: 1px;
  }
}

.gold {
  color: #d1b768;
  -webkit-text-stroke-color: #d1b768;
  border-color: #d1b768;
}

.pink {
  color: #d982e0;
  -webkit-text-stroke-color: #d982e0;
  border-color: #d982e0;
}

.bold {
  font-weight: 700;
}

.lg-screen-and-up {
  display: none;
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}

.lg-screen-and-below {
  display: none;
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: block;
  }
}

.md-screen-and-below {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: block;
  }
}

.sm-screen-and-up {
  display: none;
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}

@keyframes marquee {
  from {
    translate: 0 0;
  }
  to {
    translate: -100% 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about h2 {
  margin-block-end: unset;
  margin-inline-end: 24px;
  flex: 1 1 400px; /* flex-grow | flex-shrink | flex-basis, min width before wrapping */
  max-width: 33%;
}
@media screen and (max-width: 1512px) {
  .about h2 {
    margin-block-end: 64px;
  }
}
@media screen and (max-width: 1024px) {
  .about h2 {
    max-width: unset;
  }
}
.about .team-members-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 672px; /* flex-grow | flex-shrink | flex-basis, min width before wrapping */
  gap: 48px;
}
@media screen and (max-width: 1512px) {
  .about .team-members-wrapper {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .about .team-members-wrapper {
    flex-direction: column;
  }
}
.about .team-members-wrapper .team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.about .team-members-wrapper .team-member__image {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .about .team-members-wrapper .team-member__image {
    width: min(100%, 480px);
  }
}
.about .team-members-wrapper .team-member figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.about .team-members-wrapper .team-member__role {
  color: var(--primary-font-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
  .about .team-members-wrapper .team-member__role {
    font-size: 14px;
  }
}
.about .team-members-wrapper .social-media {
  display: flex;
  gap: 16px;
}
.about .team-members-wrapper .social-media a {
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .about .team-members-wrapper .social-media a {
    transition: scale 0.3s ease;
  }
}
.about .team-members-wrapper .social-media a:hover, .about .team-members-wrapper .social-media a:focus-visible {
  scale: 0.9;
}
.about .team-members-wrapper .social-media__icon {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 1512px) {
  .about .team-members-wrapper .social-media__icon {
    width: 20px;
    height: 20px;
  }
}
.about .about-text-blocks {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 1920px; /* flex-grow | flex-shrink | flex-basis, min width before wrapping */
  gap: 48px;
  flex-wrap: wrap;
  margin-block-start: 96px;
}
@media screen and (max-width: 480px) {
  .about .about-text-blocks {
    flex-direction: column;
    align-items: center;
  }
}
.about .about-text-blocks p {
  display: block;
  width: max(248px, 24%);
}
.about .about-text-blocks p .alchemy-symbol {
  display: flex;
}

.faq {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.faq .faq-title-wrapper {
  flex: 1 1 400px; /* flex-grow | flex-shrink | flex-basis, min width before wrapping */
  max-width: 33%;
}
@media screen and (max-width: 1200px) {
  .faq .faq-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
  }
}
.faq .faq-title-wrapper h2 {
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .faq .faq-title-wrapper h2 {
    flex: 1;
  }
}
.faq .faq-title-wrapper p {
  width: 80%;
}
@media screen and (max-width: 1200px) {
  .faq .faq-title-wrapper p {
    width: 64%;
    flex: 1;
    margin-block-end: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .faq .faq-title-wrapper p {
    width: 80%;
  }
}
.faq .faq-title-wrapper p .alchemy-symbol {
  display: block;
}
.faq .faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 96px;
  flex: 1 2 675px;
  padding-block-start: 56px;
}
@media screen and (max-width: 1512px) {
  .faq .faq-list {
    gap: 72px;
  }
}
@media screen and (max-width: 768px) {
  .faq .faq-list {
    gap: 96px;
  }
}
.faq .faq-list .faq-item {
  position: relative;
  border-block-end: 2px solid var(--primary-font-color);
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease, margin 0.4s ease;
}
.faq .faq-list .faq-item:hover, .faq .faq-list .faq-item:focus-within {
  border-color: var(--primary-accent-color);
}
.faq .faq-list .faq-item.active {
  grid-template-rows: 1fr;
}
.faq .faq-list .faq-item.active .question .angle-arrow {
  rotate: 180deg;
}
.faq .faq-list .faq-item.active .answer {
  opacity: 1;
  pointer-events: all;
  padding-block-end: 12px;
  transition: 0.3s ease 0.12s;
}
.faq .faq-list .question {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  bottom: 100%;
  padding-block-end: 12px;
  width: 100%;
  z-index: 1;
}
.faq .faq-list .question h3 {
  color: var(--primary-font-color);
  text-align: left;
  transition: 0.3s ease;
}
.faq .faq-list .question .angle-arrow {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  transition: 0.3s ease;
}
@media screen and (max-width: 1512px) {
  .faq .faq-list .question .angle-arrow {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 480px) {
  .faq .faq-list .question .angle-arrow {
    width: 32px;
    height: 32px;
    padding: 4px;
  }
}
.faq .faq-list .question .angle-arrow path {
  fill: var(--primary-font-color);
}
.faq .faq-list .answer {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease 0s;
  cursor: pointer;
}

.image-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  gap: 64px;
}
.image-slider .slider__inner {
  display: flex;
  gap: 24px;
}
@media (prefers-reduced-motion: reduce) {
  .image-slider .slider__inner {
    transform: translate(0, 0) !important;
    flex-wrap: wrap;
  }
}
.image-slider .slider figure {
  width: 640px;
}
@media screen and (max-width: 1512px) {
  .image-slider .slider figure {
    width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .image-slider .slider figure {
    width: 420px;
  }
}
@media screen and (max-width: 768px) {
  .image-slider .slider figure {
    width: 360px;
  }
}
@media screen and (max-width: 480px) {
  .image-slider .slider figure {
    width: 280px;
  }
}
.image-slider .slider figure img {
  width: 100%;
}
.image-slider .text-block {
  padding: 0;
}

.text-block {
  padding: 196px 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}
@media screen and (max-width: 1512px) {
  .text-block {
    padding: 148px 96px;
  }
}
@media screen and (max-width: 768px) {
  .text-block {
    padding: 96px 48px;
  }
}
@media screen and (max-width: 480px) {
  .text-block {
    padding: 96px 12px;
  }
}
@media screen and (max-width: 768px) {
  .text-block {
    align-items: center;
  }
}
.text-block p {
  display: inline;
}
@media screen and (max-width: 768px) {
  .text-block p {
    display: inline;
    text-align: center;
    text-wrap: balance;
  }
  .text-block p span {
    display: inline;
  }
}
.text-block p .alchemy-symbol {
  display: inline-flex;
}

.services .service-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--primary-font-color);
  padding: 64px 0;
}
@media screen and (max-width: 1512px) {
  .services .service-block {
    padding: 48px 0;
  }
}
@media screen and (max-width: 1024px) {
  .services .service-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .services .service-block {
    border-width: 2px;
  }
}
.services .service-block--last {
  border-bottom: 2px solid var(--primary-font-color);
}
@media screen and (max-width: 768px) {
  .services .service-block--last {
    border-width: 2px;
  }
}
.services .service-block__image {
  display: none;
}
@media screen and (max-width: 1024px) {
  .services .service-block__image {
    display: block;
    width: min(100%, 520px);
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 2/1;
  }
}
.services .service-block__title {
  width: 50%;
  flex-shrink: 0;
  margin-inline-end: 12px;
}
@media screen and (max-width: 1024px) {
  .services .service-block__title {
    width: auto;
  }
}
.services .service-block__description {
  margin-inline-end: 164px;
}
@media screen and (max-width: 1512px) {
  .services .service-block__description {
    margin-inline-end: 64px;
  }
}
@media screen and (max-width: 1200px) {
  .services .service-block__description {
    margin-inline-end: 24px;
  }
}
.services .service-block__link {
  flex-shrink: 0;
}
@media screen and (max-width: 1024px) {
  .services .service-block__link {
    translate: -8px 0;
  }
}
.services .cta-wrapper {
  justify-content: flex-start;
  margin-block-start: 96px;
}
@media screen and (max-width: 1512px) {
  .services .cta-wrapper {
    margin-block-start: 64px;
  }
}

.hero,
.pre-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 196px;
  padding-inline: 0;
  padding-block: 312px 156px;
}
@media screen and (min-width: 1921px) {
  .hero,
  .pre-footer {
    padding-block: 420px 156px;
  }
}
@media screen and (max-width: 1920px) {
  .hero,
  .pre-footer {
    gap: 148px;
    padding-block: 360px 156px;
  }
}
@media screen and (max-width: 1512px) {
  .hero,
  .pre-footer {
    gap: 148px;
    padding-block: 248px 156px;
  }
}
@media screen and (max-width: 1024px) {
  .hero,
  .pre-footer {
    gap: 96px;
    padding-block: 196px 96px;
  }
}
@media screen and (max-width: 768px) {
  .hero,
  .pre-footer {
    padding-block: 248px 96px;
  }
}
@media screen and (max-width: 480px) {
  .hero,
  .pre-footer {
    padding-block: 264px 64px;
  }
}
.hero .h1, .hero h1,
.pre-footer .h1,
.pre-footer h1 {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .hero .h1 .hero-h1__word, .hero h1 .hero-h1__word,
  .hero .h1 .alchemy-symbol,
  .hero h1 .alchemy-symbol,
  .pre-footer .h1 .hero-h1__word,
  .pre-footer h1 .hero-h1__word,
  .pre-footer .h1 .alchemy-symbol,
  .pre-footer h1 .alchemy-symbol {
    opacity: 0;
  }
  .hero .h1 .hero-h1__line, .hero h1 .hero-h1__line,
  .pre-footer .h1 .hero-h1__line,
  .pre-footer h1 .hero-h1__line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
  .hero .h1 .hero-h1__line .hero-h1__line-inner:first-of-type, .hero h1 .hero-h1__line .hero-h1__line-inner:first-of-type,
  .pre-footer .h1 .hero-h1__line .hero-h1__line-inner:first-of-type,
  .pre-footer h1 .hero-h1__line .hero-h1__line-inner:first-of-type {
    translate: 0 0;
  }
  .hero .h1 .hero-h1__line .hero-h1__line-inner:last-of-type, .hero h1 .hero-h1__line .hero-h1__line-inner:last-of-type,
  .pre-footer .h1 .hero-h1__line .hero-h1__line-inner:last-of-type,
  .pre-footer h1 .hero-h1__line .hero-h1__line-inner:last-of-type {
    position: absolute;
    translate: 0 -102%;
  }
}
@media screen and (prefers-reduced-motion: no-preference) and (min-width: 769px) {
  .hero .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(1), .hero h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(1),
  .pre-footer .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(1),
  .pre-footer h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(1) {
    animation: fade 0s linear 0.2s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(2), .hero h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(2),
  .pre-footer .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(2),
  .pre-footer h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(2) {
    animation: fade 0s linear 0.4s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(3), .hero h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(3),
  .pre-footer .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(3),
  .pre-footer h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(3) {
    animation: fade 0s linear 0.6s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(4), .hero h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(4),
  .pre-footer .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(4),
  .pre-footer h1 .hero-h1__line:nth-of-type(1) .hero-h1__word:nth-of-type(4) {
    animation: fade 0s linear 0.8s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(1), .hero h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(1),
  .pre-footer .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(1),
  .pre-footer h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(1) {
    animation: fade 0s linear 1s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(2), .hero h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(2),
  .pre-footer .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(2),
  .pre-footer h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(2) {
    animation: fade 0s linear 1.2s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(3), .hero h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(3),
  .pre-footer .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(3),
  .pre-footer h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(3) {
    animation: fade 0s linear 1.4s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(4), .hero h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(4),
  .pre-footer .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(4),
  .pre-footer h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(4) {
    animation: fade 0s linear 1.6s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(1), .hero h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(1),
  .pre-footer .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(1),
  .pre-footer h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(1) {
    animation: fade 0s linear 1.6s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(2), .hero h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(2),
  .pre-footer .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(2),
  .pre-footer h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(2) {
    animation: fade 0s linear 1.8s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(3), .hero h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(3),
  .pre-footer .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(3),
  .pre-footer h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(3) {
    animation: fade 0s linear 2s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(4), .hero h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(4),
  .pre-footer .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(4),
  .pre-footer h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(4) {
    animation: fade 0s linear 2.2s forwards;
  }
}
@media screen and (prefers-reduced-motion: no-preference) and (max-width: 768px) {
  .hero .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word, .hero h1 .hero-h1__line:nth-of-type(1) .hero-h1__word,
  .pre-footer .h1 .hero-h1__line:nth-of-type(1) .hero-h1__word,
  .pre-footer h1 .hero-h1__line:nth-of-type(1) .hero-h1__word {
    animation: fade 0s linear 0.4s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(1), .hero h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(1),
  .pre-footer .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(1),
  .pre-footer h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(1) {
    animation: fade 0s linear 0.6s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(2), .hero h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(2),
  .pre-footer .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(2),
  .pre-footer h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(2) {
    animation: fade 0s linear 0.8s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(3), .hero h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(3),
  .pre-footer .h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(3),
  .pre-footer h1 .hero-h1__line:nth-of-type(2) .hero-h1__word:nth-of-type(3) {
    animation: fade 0s linear 1s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(1), .hero h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(1),
  .pre-footer .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(1),
  .pre-footer h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(1) {
    animation: fade 0s linear 1.2s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(2), .hero h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(2),
  .pre-footer .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(2),
  .pre-footer h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(2) {
    animation: fade 0s linear 1.4s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(3), .hero h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(3),
  .pre-footer .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(3),
  .pre-footer h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(3) {
    animation: fade 0s linear 1.6s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(4), .hero h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(4),
  .pre-footer .h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(4),
  .pre-footer h1 .hero-h1__line:nth-of-type(3) .hero-h1__word:nth-of-type(4) {
    animation: fade 0s linear 1.8s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(1), .hero h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(1),
  .pre-footer .h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(1),
  .pre-footer h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(1) {
    animation: fade 0s linear 1.6s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(2), .hero h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(2),
  .pre-footer .h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(2),
  .pre-footer h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(2) {
    animation: fade 0s linear 1.8s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(3), .hero h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(3),
  .pre-footer .h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(3),
  .pre-footer h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(3) {
    animation: fade 0s linear 2s forwards;
  }
  .hero .h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(4), .hero h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(4),
  .pre-footer .h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(4),
  .pre-footer h1 .hero-h1__line:nth-of-type(4) .hero-h1__word:nth-of-type(4) {
    animation: fade 0s linear 2.2s forwards;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .hero .h1 .alchemy-symbol, .hero h1 .alchemy-symbol,
  .pre-footer .h1 .alchemy-symbol,
  .pre-footer h1 .alchemy-symbol {
    animation: fade 0s linear 2s forwards;
  }
}
@media (prefers-reduced-motion: reduce) {
  .hero .h1 .hero-h1__line-inner:last-of-type, .hero h1 .hero-h1__line-inner:last-of-type,
  .hero .h1 .footer-h2__line-inner:last-of-type,
  .hero h1 .footer-h2__line-inner:last-of-type,
  .pre-footer .h1 .hero-h1__line-inner:last-of-type,
  .pre-footer h1 .hero-h1__line-inner:last-of-type,
  .pre-footer .h1 .footer-h2__line-inner:last-of-type,
  .pre-footer h1 .footer-h2__line-inner:last-of-type {
    display: none;
  }
}
.hero-actions,
.pre-footer-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
@media screen and (max-width: 1512px) {
  .hero-actions,
  .pre-footer-actions {
    width: 76%;
  }
}
@media screen and (max-width: 1024px) {
  .hero-actions,
  .pre-footer-actions {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 64px;
  }
}
@media screen and (max-width: 768px) {
  .hero-actions,
  .pre-footer-actions {
    align-items: center;
    gap: 164px;
    width: unset;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .hero-actions,
  .pre-footer-actions {
    opacity: 0;
    animation: fade 0s linear 2.2s forwards;
  }
}
.hero .paragraph-wrapper,
.pre-footer .paragraph-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .hero .paragraph-wrapper,
  .pre-footer .paragraph-wrapper {
    width: 400px;
  }
}
@media screen and (max-width: 480px) {
  .hero .paragraph-wrapper,
  .pre-footer .paragraph-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .hero .cta-wrapper,
  .pre-footer .cta-wrapper {
    opacity: 0;
    animation: fade 0s linear 2.2s forwards;
  }
}

.bundles > * {
  max-width: 1440px;
  margin-inline: auto;
}
.bundles .bundle-cards-wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;
}
.bundles .bundle-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex: 1 1 400px; /* flex-grow | flex-shrink | flex-basis, min width before wrapping */
  border: 2px solid var(--primary-font-color);
  padding: 16px;
}
@media screen and (max-width: 1024px) {
  .bundles .bundle-card {
    max-width: unset;
  }
}
.bundles .bundle-card .card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.bundles .bundle-card .card-title small {
  opacity: 0.75;
}
.bundles .bundle-card hr {
  width: 100%;
  border: none;
  border-bottom: 4px solid;
  margin-block: 24px;
}
.bundles .bundle-card .price {
  text-transform: initial;
}
.bundles .bundle-card .price-dim {
  opacity: 0.5;
  text-decoration: line-through;
}
.bundles .bundle-card .benefit-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  translate: 16px 0;
  margin-block-end: 48px;
  height: 100%;
}
.bundles .bundle-card .cta-wrapper {
  justify-content: flex-start;
}
.bundles .bundle-card.full-width {
  flex: 2 1 1920px; /* flex-grow | flex-shrink | flex-basis, min width before wrapping */
}

.pre-footer {
  gap: 64px;
  padding-block: 196px;
}
@media screen and (max-width: 1512px) {
  .pre-footer {
    padding-block: 96px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .pre-footer h2 .footer-h2__line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
  .pre-footer h2 .footer-h2__line .footer-h2__line-inner:first-of-type {
    translate: 0 0;
  }
  .pre-footer h2 .footer-h2__line .footer-h2__line-inner:last-of-type {
    position: absolute;
    translate: 0 -102%;
  }
}
.pre-footer .hero-actions {
  justify-content: center;
  align-items: center;
}

.error {
  height: 86vh;
  height: 86dvh;
  gap: 0;
}
@media screen and (max-width: 1512px) {
  .error {
    height: 100vh;
    height: 100dvh;
  }
}
@media screen and (max-width: 768px) {
  .error {
    height: 92vh;
    height: 92dvh;
  }
}
.error h1 {
  margin-block-end: 24px;
}
.error p {
  margin-block-end: 48px;
}/*# sourceMappingURL=styles.css.map */