.about {
  @include column-start;
  flex-wrap: wrap;

  .section-header {
    width: 80%;

    @include mq-max("lg") {
      width: 100%;
    }

    h2 {
      margin-block-end: 48px;
    }

    p {
      margin-block-end: 128px;
    }
  }

  .team-members-wrapper {
    $card-caption-gap: 16px;
    @include column-start;
    gap: 96px;

    .team-member {
      gap: $card-caption-gap;

      @include row-start(flex-start);
      gap: 96px;

      @include mq-max("xl") {
        gap: 48px;
      }

      @include mq-max("lg") {
        flex-direction: column;
      }

      @include mq-max("md") {
        gap: 48px;
        flex-direction: column;
      }

      &__image {
        width: 32%;

        // @include mq-max("xxl") {
        //   width: 20%;
        // }

        @include mq-max("lg") {
          width: min(100%, 480px);
        }
      }

      &__info {
        @include column-start;
        gap: $card-caption-gap;
      }

      &__role {
        @include body-font-styles;
        text-transform: capitalize;
      }
    }

    .social-media {
      display: flex;
      gap: $card-caption-gap;
      margin-block-end: $card-caption-gap * 2;

      a {
        display: flex;

        @include mq-motion-allow {
          transition: scale 0.3s ease;
        }

        &:hover,
        &:focus-visible {
          scale: 0.9;
        }
      }

      &__icon {
        width: 24px;
        height: 24px;

        @include mq-max("xxl") {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
