.hero,
.pre-footer {
  @include column-center;
  gap: 196px;
  padding-inline: 0;
  padding-block: 312px 156px;

  @include mq-max("xxl") {
    gap: 148px;
    padding-block: 248px 156px;
  }

  @include mq-max("lg") {
    gap: 96px;
    padding-block: 196px 96px;
  }

  @include mq-max("sm") {
    padding-block: 248px 64px;
  }

  .h1 {
    text-align: center;
    -webkit-text-stroke: 2px var(--primary-font-color);

    @include mq-max("lg") {
      -webkit-text-stroke-width: 1px;
    }
  }

  &-actions {
    @include row-center(space-between);
    width: 1200px;

    @include mq-max("xxl") {
      width: 76%;
    }

    @include mq-max("lg") {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 64px;
    }

    @include mq-max("md") {
      align-items: center;
      gap: 164px;
      width: unset;
    }
  }

  .paragraph-wrapper {
    // border: $test;
    @include row-center;
    justify-content: flex-start;
    gap: 64px;
    flex-wrap: wrap;

    @include mq-max("md") {
      // padding-inline: $body-padding;
      width: 400px;
    }

    @include mq-max("sm") {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
    }
  }
}

.bundles {
  $card-padding: 16px;

  .bundle-cards-wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
  }

  .bundle-card {
    @include column-start;
    gap: 16px;
    flex: 1 1 400px; /* flex-grow | flex-shrink | flex-basis, min width before wrapping */
    // width: 49%;
    border: 2px solid var(--primary-font-color);
    padding: $card-padding;

    h3 {
      @include row-center;
      gap: 12px;

      small {
        opacity: 0.5;
      }
    }

    hr {
      width: 100%;
      border: none;
      border-bottom: 4px solid;
      margin-block: 24px;

      // See utility classes
      // &.gold {
      //   border-color: $gold;
      // }

      // &.pink {
      //   border-color: $pink;
      // }
    }

    .benefit-list {
      translate: $card-padding 0;
      margin-block-end: 48px;
    }

    .cta-wrapper {
      justify-content: flex-start;
    }

    &.full-width {
      flex: 2 1 $content-width; /* flex-grow | flex-shrink | flex-basis, min width before wrapping */
    }
  }
}

.pre-footer {
  gap: 64px;
  padding-block: 196px;

  @include mq-max("xxl") {
    padding-block: 96px;
  }

  .hero-actions {
    justify-content: center;
    align-items: center;
  }
}
