---
title: SACRED BREATH ALCHEMY
description: Discover transformative breathwork, sound healing, and meditation practices designed to nurture self-awareness, inner peace, and personal growth. Explore in-person and online sessions that empower you to align with your true self through ancient traditions and modern techniques.
author: Sacred Breath Alchemy

layout: app
path: home
---

<section class="hero" id="hero">
  <!-- <h1 class="h1">
    <span class="alchemy-symbol gold">🝖</span>
    <span class="word-split">
      Alchemize your inner truth through breath and sound
    </span>
    <span class="alchemy-symbol pink">🜹</span>
  </h1> -->
  <h1
    class="h1"
    aria-label="Alchemize your inner truth through breath and sound"
  >
    <span class="md-screen-and-up" aria-hidden="true">
      <span class="hero-h1__line hero-h1__line-1">
        <span class="hero-h1__line-inner hero-h1__line-inner-1">
          <span class="alchemy-symbol gold">🝖</span>
          <span class="hero-h1__word">Alchemize</span>
          <span class="hero-h1__word">your</span>
          <span class="hero-h1__word">inner&nbsp;</span>
          <br />
        </span>
        <span class="hero-h1__line-inner hero-h1__line-inner-1">
          <span class="alchemy-symbol gold">🝖</span>
          <span class="hero-h1__word">Alchemize</span>
          <span class="hero-h1__word">your</span>
          <span class="hero-h1__word">inner&nbsp;</span>
          <br />
        </span>
      </span>

      <span class="hero-h1__line hero-h1__line-2">
        <span class="hero-h1__line-inner hero-h1__line-inner-2">
          <span class="hero-h1__word">truth</span>
          <span class="hero-h1__word">through</span>
          <span class="hero-h1__word text-stroke">breath </span>
          <br />
        </span>
        <span class="hero-h1__line-inner hero-h1__line-inner-2">
          <span class="hero-h1__word">truth</span>
          <span class="hero-h1__word">through</span>
          <span class="hero-h1__word text-stroke">breath </span>
          <br />
        </span>
      </span>

      <span class="hero-h1__line hero-h1__line-3">
        <span class="hero-h1__line-inner hero-h1__line-inner-3">
          <span class="hero-h1__word">and</span>
          <span class="hero-h1__word text-stroke">sound </span>
          <span class="alchemy-symbol pink">🜹</span>
        </span>
        <span class="hero-h1__line-inner hero-h1__line-inner-3">
          <span class="hero-h1__word">and</span>
          <span class="hero-h1__word text-stroke">sound </span>
          <span class="alchemy-symbol pink">🜹</span>
        </span>
      </span>
    </span>

    <span class="md-screen-and-below" aria-hidden="true">
      <span class="hero-h1__line hero-h1__line-1b">
        <span class="hero-h1__line-inner hero-h1__line-inner-1b">
          <span class="alchemy-symbol gold">🝖</span>
          <span class="hero-h1__word">Alchemize</span>
          <br />
        </span>
        <span class="hero-h1__line-inner hero-h1__line-inner-1b">
          <span class="alchemy-symbol gold">🝖</span>
          <span class="hero-h1__word">Alchemize</span>
          <br />
        </span>
      </span>

      <span class="hero-h1__line hero-h1__line-2b">
        <span class="hero-h1__line-inner hero-h1__line-inner-2b">
          <span class="hero-h1__word">your</span>
          <span class="hero-h1__word">inner</span>
          <span class="hero-h1__word">truth</span>
        </span>
        <span class="hero-h1__line-inner hero-h1__line-inner-2b">
          <span class="hero-h1__word">your</span>
          <span class="hero-h1__word">inner</span>
          <span class="hero-h1__word">truth</span>
        </span>
      </span>

      <span class="hero-h1__line hero-h1__line-3b">
        <span class="hero-h1__line-inner hero-h1__line-inner-3b">
          <span class="hero-h1__word">through</span>
          <span class="hero-h1__word text-stroke">breath </span>
          <br />
        </span>
        <span class="hero-h1__line-inner hero-h1__line-inner-3b">
          <span class="hero-h1__word">through</span>
          <span class="hero-h1__word text-stroke">breath </span>
          <br />
        </span>
      </span>

      <span class="hero-h1__line hero-h1__line-4b">
        <span class="hero-h1__line-inner hero-h1__line-inner-4b">
          <span class="hero-h1__word">and</span>
          <span class="hero-h1__word text-stroke">sound </span>
          <span class="alchemy-symbol pink">🜹</span>
        </span>
        <span class="hero-h1__line-inner hero-h1__line-inner-4b">
          <span class="hero-h1__word">and</span>
          <span class="hero-h1__word text-stroke">sound </span>
          <span class="alchemy-symbol pink">🜹</span>
        </span>
      </span>
    </span>
  </h1>

  <div class="hero-actions">
    <div class="paragraph-wrapper">
      {% for list in hero.hero_lists %}
      <ul>
        <li class="{{ list.symbol_color }}" aria-hidden="true">
          {{ list.symbol }}
        </li>
        {% for item in list.hero_list_items %}
        <li>{{ item.title }}</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <!-- prettier-ignore -->
    {% include "./_includes/partials/cta-wrapper.html" %}
  </div>
</section>

<!-- prettier-ignore -->
{% set text_block = text_block_1.paragraph_lines %}
{% set symbol_1 = text_block[0].symbol %} 
{% set symbol_2 = text_block[1].symbol %} 
{% set symbol_3 = text_block[2].symbol %} 
{% set symbol_4 = text_block[3].symbol %} 
{% set line_1 = text_block[0].line %}
{% set line_2 = text_block[1].line %}
{% set line_3 = text_block[2].line %}
{% set line_4 = text_block[3].line %}
{% set preview_id = "text-block-1" %}
{% include "./_includes/partials/text-block.html" %}

{% include "./_includes/partials/services.html" %}

<!-- prettier-ignore -->
{% set slider_content_text = image_slider.paragraph_lines %}
{% set symbol_1 = slider_content_text[0].symbol %} 
{% set symbol_2 = slider_content_text[1].symbol %} 
{% set symbol_3 = slider_content_text[2].symbol %} 
{% set symbol_4 = slider_content_text[3].symbol %} 
{% set line_1 = slider_content_text[0].line %}
{% set line_2 = slider_content_text[1].line %}
{% set line_3 = slider_content_text[2].line %}
{% set line_4 = slider_content_text[3].line %}
{% set preview_id = "image-slider" %}
{% include "./_includes/partials/image-slider.html" %}

<section class="bundles" id="bundles">
  <h2>
    {{ bundles.section_title }} <span class="alchemy-symbol gold">🜊</span>
  </h2>

  <div class="bundle-cards-wrapper">
    {% for card in bundles.price_cards %}
    <div class="bundle-card {% if card.full_width %}full-width{% endif %}">
      <h3 class="card-title h5">
        {{ card.title }} {% if card.sub_title %}
        <small>{{ card.sub_title }}</small>
        {% endif %}
      </h3>
      <h4
        class="price"
        aria-label="
        {% if card.price_linethrough %}Original price: {{ card.price_linethrough }}, Limited offer: {{ card.price }}.{% endif %}"
      >
        {% if card.price_linethrough %}
        <span class="price-dim" aria-hidden="true">
          {{ card.price_linethrough }}
        </span>
        {% endif %}
        <span class="price-current"> {{ card.price }} </span>
      </h4>

      <hr class="gold" aria-hidden="true" />

      {% if card.benefit_list %}
      <ul class="benefit-list classic-list">
        {% for item in card.benefit_list %}
        <li class="benefit-list__item {% if item.bold %}bold{% endif %}">
          {{ item.benefit }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="cta-wrapper">
        <a
          class="cta-1 tab-element-page"
          href="{{ card.cta_url }}"
          target="_blank"
        >
          {{ card.cta_text }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% include "./_includes/partials/about.html" %}

<!-- prettier-ignore -->
{% set text_block = text_block_2.paragraph_lines %}
{% set symbol_1 = text_block[0].symbol %} 
{% set symbol_2 = text_block[1].symbol %} 
{% set symbol_3 = text_block[2].symbol %} 
{% set symbol_4 = text_block[3].symbol %} 
{% set line_1 = text_block[0].line %}
{% set line_2 = text_block[1].line %}
{% set line_3 = text_block[2].line %}
{% set line_4 = text_block[3].line %}
{% set cta_1_text = "Get Tickets" %}
{% set cta_1_url = "#" %}
{% set cta_2_text = "View FAQ" %}
{% set cta_2_url = "#" %}
{% set preview_id = "events" %} 
{% include "./_includes/partials/text-block.html" %}

{% include "./_includes/partials/faq.html" %}

<section id="pre-footer" class="pre-footer">
  <h2
    class="h1"
    aria-label="Transform and align yourself through breath and sound"
  >
    <span class="md-screen-and-up" aria-hidden="true">
      <span class="footer-h2__line footer-h2__line-1">
        <span class="footer-h2__line-inner footer-h2__line-inner-1">
          <span class="alchemy-symbol gold">🝔</span>
          Transform and align
          <br />
        </span>
        <span class="footer-h2__line-inner footer-h2__line-inner-1">
          <span class="alchemy-symbol gold">🝔</span>
          Transform and align
          <br />
        </span>
      </span>

      <span class="footer-h2__line footer-h2__line-2">
        <span class="footer-h2__line-inner footer-h2__line-inner-2">
          yourself through
          <span class="footer-h2__word text-stroke">breath </span>
          <br />
        </span>
        <span class="footer-h2__line-inner footer-h2__line-inner-2">
          yourself through
          <span class="footer-h2__word text-stroke">breath </span>
          <br />
        </span>
      </span>

      <span class="footer-h2__line footer-h2__line-3">
        <span class="footer-h2__line-inner footer-h2__line-inner-3">
          and <span class="text-stroke">sound </span>
          <span class="alchemy-symbol pink">🝡</span>
        </span>
        <span class="footer-h2__line-inner footer-h2__line-inner-3">
          and <span class="text-stroke">sound </span>
          <span class="alchemy-symbol pink">🝡</span>
        </span>
      </span>
    </span>

    <span class="md-screen-and-below" aria-hidden="true">
      <span class="footer-h2__line footer-h2__line-1b">
        <span class="footer-h2__line-inner footer-h2__line-inner-1b">
          <span class="alchemy-symbol gold">🝔</span> Transform
        </span>
        <span class="footer-h2__line-inner footer-h2__line-inner-1b">
          <span class="alchemy-symbol gold">🝔</span> Transform
        </span>
      </span>

      <span class="footer-h2__line footer-h2__line-2b">
        <span class="footer-h2__line-inner footer-h2__line-inner-2b">
          and align yourself
        </span>
        <span class="footer-h2__line-inner footer-h2__line-inner-2b">
          and align yourself
        </span>
      </span>

      <span class="footer-h2__line footer-h2__line-3b">
        <span class="footer-h2__line-inner footer-h2__line-inner-3b">
          through <span class="footer-h2__word text-stroke">breath </span>
        </span>
        <span class="footer-h2__line-inner footer-h2__line-inner-3b">
          through <span class="footer-h2__word text-stroke">breath </span>
        </span>
      </span>

      <span class="footer-h2__line footer-h2__line-4b">
        <span class="footer-h2__line-inner footer-h2__line-inner-4b">
          and <span class="text-stroke">sound </span>
          <span class="alchemy-symbol pink">🝡</span>
        </span>
        <span class="footer-h2__line-inner footer-h2__line-inner-4b">
          and <span class="text-stroke">sound </span>
          <span class="alchemy-symbol pink">🝡</span>
        </span>
      </span>
    </span>
  </h2>

  <!-- prettier-ignore -->
  {% set cta_1_text = "View Bundles" %}
  {% set cta_1_url = "#bundles" %}
  {% set cta_2_text = "Book Now" %}
  {% set cta_2_url = "#bundles" %}
  <div class="hero-actions">
    {% include "./_includes/partials/cta-wrapper.html" %}
  </div>
</section>
