<section class="about" id="about">
  <header class="section-header">
    <h2>
      {{ about.section_title }}
      <span class="alchemy-symbol gold">🝢</span>
    </h2>

    <p class="section-header__description">
      Through our guidance, you will uncover the healing potential of the
      breath, finding solace from stress and anxiety while nurturing
      self-awareness, love, and compassion, all within the sanctuary of your
      home.
    </p>
  </header>

  <article class="team-members-wrapper">
    {% for member in about.team_members %}
    <div class="team-member">
      <img class="team-member__image" src="{{ member.image }}" alt="" />

      <div class="team-member__info">
        <h3 class="team-member__name h5">{{ member.name }}</h3>
        <h4 class="team-member__role">{{ member.role }}</h4>
        {% if member.social_media %}
        <ul class="social-media">
          {% for account in member.social_media %}
          <li>
            <a class="tab-element-page" href="{{ account.url }}">
              <img
                class="social-media__icon"
                src="{{ account.icon }}"
                alt="{{ account.title }}"
              />
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <p class="team-member__info-text">{{ member.description }}</p>
      </div>
    </div>
    {% endfor %}
  </article>
</section>
