<footer>
  {% if path == "404" %}
  <a href="/" class="return-to-top classic-link tab-element-page">
    Return home
  </a>
  {% else %}
  <a href="#" class="return-to-top classic-link tab-element-page">
    Return to top
  </a>
  {% endif %}
  <small class="copyright">
    <span>&copy;<time class="year-text"></time> Sacred Breath Alchemy</span>
    <span class="lg-screen-and-up" aria-hidden="true">|</span>
    <span class="lg-screen-and-up">All Rights Reserved</span>
  </small>
  <a
    href="https://axyscreative.com"
    target="_blank"
    class="axys-link classic-link tab-element-page"
    aria-label="Website designed and developed by AXYS Creative. Click to visit our website."
  >
    Website by AXYS Creative
  </a>
</footer>
