<header class="site-header" aria-label="Site Header">
  {% if header.banner_toggle %}

  <div
    class="header-banner tab-element-page"
    aria-label="Click to close the discount banner"
  >
    <p class="header-banner__message" aria-label="{{ header.banner_message }}">
      <span class="marquee-slider" aria-hidden="true">
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">🜹</span>
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">🜹</span>
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">🜹</span>
        <span class="message-text md-screen-and-up">
          {{ header.banner_message }}&nbsp;
        </span>
        <span class="alchemy-symbol md-screen-and-up">🜹</span>
      </span>
      <span class="marquee-slider" aria-hidden="true">
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">🜹</span>
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">🜹</span>
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">🜹</span>
        <span class="message-text md-screen-and-up">
          {{ header.banner_message }}&nbsp;
        </span>
        <span class="alchemy-symbol md-screen-and-up">🜹</span>
      </span>

      <!-- <a
          class="header-banner__cta classic-link tab-element-page"
          href="#bundles"
        >
          View Bundles
        </a> -->
      <!-- <button
          class="header-banner__btn-close"
          aria-controls="discount-banner"
          aria-label="Click to close the discount banner"
        >
          <span class="close-line" aria-hidden="true"></span>
          <span class="close-line" aria-hidden="true"></span>
        </button> -->
    </p>
  </div>
  {% endif %}

  <a class="header-logo" href="{{ settings.url }}">
    <img
      class="header-logo__icon"
      src="../../static/img/logo-light-full.svg"
      alt="{{ settings.name }} logo"
    />
  </a>

  {% if navigation.items %}
  <ul class="header-links">
    {% for item in navigation.items %}
    <li class="">
      <a class="header-links__link classic-link" href="{{ item.url }}">
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="menu-btn-wrapper">
    <button
      class="menu-btn"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="menu-btn-line-wrapper">
        <span class="menu-btn-line"></span>
        <span class="menu-btn-line"></span>
      </div>
    </button>
  </div>
</header>
