<header class="site-header" aria-label="Site Header">
  <!-- prettier-ignore -->
  {% if path == "home" %} 
  {% if header.banner_toggle %}
  <button
    class="header-banner tab-element-page"
    aria-label="Click to close the discount banner"
  >
    <p class="header-banner__message" aria-label="{{ header.banner_message }}">
      <!-- revisit and refactor with javascript -->
      <span class="marquee-slider" aria-hidden="true">
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">{{ header.banner_spacer_symbol }}</span>
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">{{ header.banner_spacer_symbol }}</span>
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">{{ header.banner_spacer_symbol }}</span>
        <span class="message-text md-screen-and-up">
          {{ header.banner_message }}&nbsp;
        </span>
        <span class="alchemy-symbol md-screen-and-up">
          {{ header.banner_spacer_symbol }}
        </span>
        <span class="message-text md-screen-and-up">
          {{ header.banner_message }}&nbsp;
        </span>
        <span class="alchemy-symbol md-screen-and-up">
          {{ header.banner_spacer_symbol }}
        </span>
        <span class="message-text md-screen-and-up">
          {{ header.banner_message }}&nbsp;
        </span>
        <span class="alchemy-symbol md-screen-and-up">
          {{ header.banner_spacer_symbol }}
        </span>
      </span>
      <span class="marquee-slider" aria-hidden="true">
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">{{ header.banner_spacer_symbol }}</span>
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">{{ header.banner_spacer_symbol }}</span>
        <span class="message-text"> {{ header.banner_message }}&nbsp;</span>
        <span class="alchemy-symbol">{{ header.banner_spacer_symbol }}</span>
        <span class="message-text md-screen-and-up">
          {{ header.banner_message }}&nbsp;
        </span>
        <span class="alchemy-symbol md-screen-and-up">
          {{ header.banner_spacer_symbol }}
        </span>
        <span class="message-text md-screen-and-up">
          {{ header.banner_message }}&nbsp;
        </span>
        <span class="alchemy-symbol md-screen-and-up">
          {{ header.banner_spacer_symbol }}
        </span>
        <span class="message-text md-screen-and-up">
          {{ header.banner_message }}&nbsp;
        </span>
        <span class="alchemy-symbol md-screen-and-up">
          {{ header.banner_spacer_symbol }}
        </span>
      </span>
    </p>
  </button>
  <!-- prettier-ignore -->
  {% endif %} 
  {% endif %}

  <a class="header-logo" href="{{ settings.url }}">
    <img
      class="header-logo__icon"
      src="../../static/img/logo-light-full.svg"
      alt="{{ settings.name }} logo"
    />
  </a>

  {% if navigation.items %}
  <ul class="header-links">
    {% for item in navigation.items %}
    <li class="">
      <a class="header-links__link classic-link" href="{{ item.url }}">
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="menu-btn-wrapper">
    <button
      class="menu-btn"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="menu-btn-line-wrapper">
        <span class="menu-btn-line"></span>
        <span class="menu-btn-line"></span>
      </div>
    </button>
  </div>
</header>
