<section class="services" id="services">
  <h2>
    Services <span class="alchemy-symbol gold" aria-hidden="true">🝆</span>
  </h2>

  {% for service in services_section.services %}
  <div class="service-block {% if loop.last %}service-block--last{% endif %}">
    <img
      class="service-block__image"
      src="{{ service.image }}"
      alt="{{ service.image_description }}"
    />
    <h3 class="h4 service-block__title">
      {{ service.title }}
      <span class="alchemy-symbol pink" aria-hidden="true">
        {{ service.symbol }}
      </span>
    </h3>
    <p class="service-block__description">{{ service.description }}</p>
    <a
      href="#bundles"
      class="service-block__link classic-link tab-element-page"
    >
      View plans
    </a>
  </div>
  {% endfor %} {% include "./cta-wrapper.html" %}
</section>
